{% extends 'base.html.twig' %}

{% block title %}Mon compte - BURGERSHOP{% endblock %}

{% block content %}

    <div class="move">
    <hr>
        <h1 class="titi">Mon compte</h1>
        Bienvenue {{ app.user.firstname }} sur votre compte.<br/>
        C'est dans cet aspace que vous allez pouvoir gérer toutes vos informations personnelles
    <hr>
                <a href="{{ path ('account_password' )}}" class="titi">Modifier mon mot de passe<a/><br/>
                <a href="{{ path ('account_address' )}}" lass="titi"><strong>Gérer mes adresses</strong><a/><br/>

        -Mes commandes<br/>
    <hr>
    </div>
{% endblock %}
