{% extends 'base.html.twig' %}

{% block content %}
    <div class="move">
        <div class="content">
            <hr>
            <h1>INSCRIPTION</h1>
                {% if notification %}
                    <div class="alert alert-info">{{ notification }}</div>
                    <hr>
                {% endif %}

                {{ form(form) }}
         </div>
    </div>
{% endblock %}
